/derivadas.aux
/derivadas_una_variable.aux
/derivadas_n_variables.aux
/licencia.aux
/practicas_derive.aux
/introduccion_derive.aux
/polinomios_taylor.aux
/ecuaciones_diferenciales.aux
/funciones_elementales.aux
/integrales.aux
/limites_continuidad.aux
/practicas_derive.dvi
/practicas_derive.log
