/derivadas_aplicaciones_parciales.aux
/ecuaciones_diferenciales.aux
/funciones_elementales.aux
/integrales.aux
/introduccion_derive.aux
/licencia.aux
/limites_continuidad.aux
/polinomios_taylor.aux
/practicas_derive.aux
/practicas_derive.dvi
/practicas_derive.log
/practicas_derive.out
/practicas_derive.ps
/practicas_derive.toc
/practicas_derive.pdf
